@import "tailwindcss";

:root {
  --pitch-black: #0c0909;
  --burnt-coffee-bean: #1c1515;
  --coffee-bean: #261c1c;
  --dark-garnet: #700c0c;
  --black-cherry: #5a0303;
  --blue-slate: #6a6b83;
  --platinum: #dedede;
  --silver: #b8b8b8;
  --grey-olive: #8d8c8c;
  --dim-grey: #615f5f;
  --lavender-blush: #f6e8ea;
}

@theme inline {
  /* --color-deep-black: #0d0f00; */
  /* --color-deep-red: #750a03; */

  --color-foreground: var(--silver);
  --color-foreground-strong: var(--platinum);
  --color-foreground-dimmed: var(--grey-olive);
  --color-foreground-muted: var(--dim-grey);

  --color-background: var(--pitch-black);
  --color-background-strong: var(--burnt-coffee-bean);
  --color-background-lighten: var(--coffee-bean);

  --font-serif: var(--font-setup-serif);
  --font-sans: var(--font-setup-sans);
  --font-mono: var(--font-setup-mono);

  --text-xs: 0.625rem;
  --text-sm: 0.745rem;
  --text-base: 0.775rem;
  --text-lg: 0.9rem;
  --text-xl: 1.025rem;
  --text-2xl: 1.12rem;
  --text-3xl: 1.35rem;
  --text-4xl: 1.55rem;
}
