@import "tailwindcss";

@theme inline {
  --color-deep-black: #0d0f00;
  --color-deep-red: #750a03;

  --color-foreground-light: var(--color-zinc-700);
  --color-foreground-dark: var(--color-zinc-300);

  --color-muted-foreground-light: var(--color-zinc-400);
  --color-muted-foreground-dark: var(--color-zinc-500);

  --color-strong-foreground-light: var(--color-zinc-950);
  --color-strong-foreground-dark: var(--color-zinc-50);

  --color-background-light: var(--color-zinc-100);
  --color-background-dark: var(--color-zinc-900);

  --color-muted-background-light: var(--color-zinc-200);
  --color-muted-background-dark: var(--color-zinc-800);

  --font-serif: var(--font-setup-serif);
  --font-sans: var(--font-setup-sans);
  --font-mono: var(--font-setup-mono);

  --text-xs: 0.625rem;
  --text-sm: 0.745rem;
  --text-base: 0.775rem;
  --text-lg: 0.9rem;
  --text-xl: 1.025rem;
  --text-2xl: 1.12rem;
  --text-3xl: 1.35rem;
  --text-4xl: 1.55rem;
}
